body{
    font-size: 22px;
    background-color: rgb(206, 204, 204);
    font-family: 'Ubuntu', sans-serif;
}
img{
    width: 40%;
    display: inline-block;
    float: left;
    margin: 5px;
    object-fit: fill;
}
.img{
    width: 60px;
}
p{
    text-align: justify;
}
#container{
    margin-left: 5%;
    margin-right: 5%;
}

#downcontainer{
    
}

#first{
    background-color: whitesmoke;
    margin-bottom: 20px;
    overflow : auto;
    
}
#second{
    background-color: whitesmoke;
    margin-bottom: 20px;
    overflow : auto;
}
#menu{
    background-color: #9a9a9a;
    margin-bottom: 10px;
    border-bottom:6px solid #008d92
}
#menu ul li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}
#menu ul{
    padding: 5px;
    margin: 2px;
}
#blogpost1{
    margin: 5px;
    position: relative;
}

#author{
    background-color: #9a9a9a;
    height: 70px;
}

.date{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    color: #aaa;
    font-size: 16px;
    
}
ul li a{
    text-decoration: none;
}
h2{
    display: inline-block;
    margin: 5px;
}
#author p{
    padding: 20px;
    font-weight: bold;
}
a{
    color: black;
    padding-bottom: 8.2px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
}
a:link{
    background-color:#9a9a9a;
}
a:focus{
    background-color: #008d92
}